{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "plugin:prettier/recommended"
  ],
  "plugins" : [
    "flow-vars",
    "prettier"
  ],
  "globals" : {
    "$"       : true
  },
  "env"     : {
    "browser" : true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "none"
      }
    ],
    "arrow-parens": 0,
    "space-before-function-paren": 0,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "spaced-comment": 0,
    "no-debugger": 1,
    "no-unused-vars": 1,
    "no-useless-escape": 1,
    "camelcase": 0
  }
}
