<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="telephone=no,email=no" name="format-detection">
  <title>zui- a</title>
</head>
<body>
<div id="demo">
  aaa
</div>
<script>
  <%= htmlWebpackPlugin.options.exampleScript %>
</script>
</body>
</html>
