<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="telephone=no,email=no" name="format-detection">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="demo">
      <!--<input type="text" id="aa">-->
    </div>
    <div class="input-append date form_datetime">
      <input size="16" type="text" class="form_datetime" value="">
      <span class="add-on"><i class="icon-remove"></i></span>
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <script>
      window.onload = function () {
        $('.form_datetime').datetime({
          show: function (data) {
//            console.log(data)
          },
          change: function (ev) {
//            console.log('change', ev)
          }
        })
//        $(".form_datetime").datetimepicker({
//          format: "dd MM yyyy - HH:ii P",
//          showMeridian: true,
//          autoclose: true,
//          todayBtn: true
//        });

      }
    </script>
  </body>
</html>
